<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- index.html -->
    <!-- <form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">Subir</button>
    </form> -->

    HOLAS BIENVENIDO A MI PROYECTO
    <video src="https://pub-dc88437b1eb54374b54af12eb03423a9.r2.dev/v12044gd0000d2kfrrnog65tjd7k6pi0.mp4" controls></video>
</body>
</html>